* {
    box-sizing: border-box;
}

.message {
    background-color: #a8e700;
    display: flex;
    padding: 10px;
    align-items: end;
}

.avatar {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.dialog {
    display: flex;
    flex-direction: column;
    background: #002200;
    position: relative;
    border-radius: 5px;
    height: 100%;
    width: 30%;
    padding: 10px;
    color: #ffffff;
    margin-left: 10px;
}

.dialog:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 20px solid #002200;
    bottom: 0;
    left: -10px;
}

.name {
    color: palevioletred;
    font-size: 14px;
    font-weight: 500;
}

.time {
    color: grey;
    align-self: end;
}
