.greetingForm {
}

.inputAndButtonContainer {
    display: flex;
    gap: 12px;
}

.error {
    color: red;
}

.input {
    outline: none;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 12px;
    min-width: 370px;
}

.input:focus {
}

.errorInput {
    border: 1px solid red;
}

.button {
    background-color: #0066CC;
    color: #FFFFFF;
    border-radius: 3px;
    padding: 8px 24px;
    outline: none;
    border: none;
    font-size: 14px;
}

.button:focus {
}

.button:active {
}

.button:disabled {
    background-color: #0066CC;
    opacity: 50%;
}

.text {
    color: rgb(0,0,0,50%);
    font-size: 14px;
    margin-bottom: 8px;
}

.greeting {
    font-size: 14px;
    font-weight: 500;
}
