select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

select::-ms-expand {
    display: none;
}

.select {
    padding: 2px;
    min-width: 40px;
    outline: none;
    border: 1px solid #C2C2C2;
    border-radius: 2px;
    background: url("chevron-down.svg") no-repeat right;
}



.select:focus {


}


.option:hover {

}
